body {
    background: #202020;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main {
  color: #A2A2A2;
  text-align: center;

}
#text {
  margin-top:2em;
  margin-bottom: 0px;
  font-size: 100px;
  font-weight: 100;
}
.field {
    background: #1A1A1A;
    border-radius: 2em;
    border: none;
    padding: 0.8em;
    margin:1em;

    color: #A2A2A2;
    font-size: 1.1em;
    padding-left: 1.5em;
    padding-right: 10em;

    outline: none;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%)
}
